*{
    box-sizing: border-box;
}

main {
    margin: 20px auto;
    width: 94%;
}
h3,h1{text-align: center;}

.card {margin: 0 0 20px 0;
border: 3px solid var(--dark);
border-radius: var(--border-radius);
}

.hero{
    padding: 3% 4%;

}
#weatherDisplay {
    display: none;
}

#fiveForecast .card {
    border: 1px solid var(--dark);
}